<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.erpy.dao.CrawlDataMapper'>

    <select id='getCrawlDataById' parameterType='int' resultType='com.erpy.dao.CrawlData'>
        SELECT
        id       as dataId,
        url      as seedUrl,
        date     as crawlDate,
        savepath as savePath,
        cp       as cpName,
        keyword  as crawlKeyword,
        cate1    as cateName1,
        cate2    as cateName2,
        cate3    as cateName3,
        md5      as hashMD5
        FROM crawl_data
        WHERE id = #{dataId}
    </select>

    <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in seed-mybatis-config.xml and use Alias names. -->
    <resultMap type='CrawlData' 		 id='CrawlDataResult'>
        <id     property='dataId' 		 column='id'/>
        <result property='seedUrl' 	     column='url'/>
        <result property='crawlDate' 	 column='date'/>
        <result property='savePath' 	 column='savepath'/>
        <result property='cpName' 	     column='cp'/>
        <result property='crawlKeyword'  column='keyword'/>
        <result property='cateName1'     column='cate1'/>
        <result property='cateName2'     column='cate2'/>
        <result property='cateName3'     column='cate3'/>
        <result property='hashMD5'       column='md5'/>
    </resultMap>

    <select id='getAllCrawlDatas' resultMap='CrawlDataResult'>
        SELECT * FROM crawl_data
    </select>

    <select id='getCrawlDataByCpName' parameterType='String' resultMap='CrawlDataResult'>
        SELECT * FROM crawl_data WHERE cp = #{cpName}
    </select>

    <insert id='insertCrawlData' parameterType='CrawlData' useGeneratedKeys='true' keyProperty='dataId'>
        INSERT INTO crawl_data(url, date, savepath, cp, keyword, cate1, cate2, cate3, md5)
        VALUES(#{seedUrl}, #{crawlDate}, #{savePath}, #{cpName}, #{crawlKeyword}, #{cateName1}, #{cateName2}, #{cateName3}, #{hashMD5})
        <!--
            VALUES(#{emailId}, #{password}, #{firstName}, #{lastName})
        -->
    </insert>

    <update id='updateCrawlData' parameterType='CrawlData'>
        UPDATE crawl_data
        SET
        url       = #{seedUrl},
        date      = #{crawlDate},
        savepath  = #{savePath},
        cp        = #{cpName},
        keyword   = #{crawlKeyword},
        cate1     = #{cateName1},
        cate2     = #{cateName2},
        cate3     = #{cateName3},
        md5       = #{hashMD5}
        WHERE id = #{dataId}
    </update>

    <delete id='deleteCrawlData' parameterType='int'>
        DELETE FROM crawl_data WHERE id = #{dataId}
    </delete>

    <delete id='deleteCrawlDataAll'>
        DELETE FROM crawl_data
    </delete>

</mapper>
