<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.erpy.dao.ThumbnailDataMapper'>

    <select id='getThumbnailDataById' parameterType='int' resultType='com.erpy.dao.ThumbnailData'>
        SELECT
        id             as dataId,
        product_id     as productId,
        cp             as cpName,
        big_thumb_url  as bigThumbUrl
        FROM thumb
        WHERE id = #{dataId}
    </select>

    <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in seed-mybatis-config.xml and use Alias names. -->
    <resultMap type='ThumbnailData' 		id='ThumbnailDataResult'>
        <id     property='dataId' 		    column='id'/>
        <result property='productId' 	    column='product_id'/>
        <result property='cpName' 	        column='cp'/>
        <result property='bigThumbUrl'  	column='big_thumb_url'/>
    </resultMap>

    <select id='getAllTumbnailDatas' resultMap='ThumbnailDataResult'>
        SELECT * FROM thumb
    </select>

    <select id='getFindThumbnailData' parameterType='ThumbnailData' resultMap='ThumbnailDataResult'>
        SELECT * FROM thumb WHERE cp=#{cpName} AND product_id = #{productId}
    </select>

    <insert id='insertThumbnailData' parameterType='ThumbnailData' useGeneratedKeys='true' keyProperty='dataId'>
        INSERT INTO thumb (product_id, cp, big_thumb_url)
        VALUES(#{productId}, #{cpName}, #{bigThumbUrl})
    </insert>

    <update id='updateThumbnailData' parameterType='ThumbnailData'>
        UPDATE thumb
        SET
        product_id    = #{productId},
        cp            = #{cpName},
        big_thumb_url = #{bigThumbUrl}
        WHERE id     = #{dataId}
    </update>

    <delete id='deleteSearchData' parameterType='ThumbnailData'>
        DELETE FROM thumb WHERE id = #{dataId}
    </delete>

</mapper>
